main {
  width: 1400px;
  margin: 0 auto;
}

.slider {
  display: flex;
  border-top: #d10f17;
  border-bottom: #d10f17;
}

.header {
  display: flex;
  margin: 10px 0px 0px 0px;
}
.headerOne {
  display: flex;
  justify-content: flex-start;
}
.headerOne > h1 {
  color: red;
  font-family: "Merriweather", serif;
  font-weight: lighter;
  font-size: 35px;
  margin: 0px;
  padding: 0px 15px 0px 45px;
}
.headerOne > div > input {
  display: flex;
  width: 1000px;
  height: 50px;
  text-align: left;
  margin: 0px 0px 0px 0px;
  box-sizing: border-box;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 1px solid black;
}
.headerTwo {
  display: flex;
  padding-left: 40px;
}
.headerTwo > h3 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 13px;
}
.headerTwo > img {
  width: 30%;
  height: 60%;
  padding-top: 8px;
  padding-left: 35px;
}
.navTabBar > .topBarMenu {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
button {
  height: 50px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  right: -999px;
  top: -50px;
  border: 1px solid black;
}
.sideBar {
  border: 1px solid black;
  width: 400px;
  height: 200px;
}
.products {
  border: 1px solid black;
  width: 1000px;
}
.main {
  display: flex;
}
.suggestedSearch {
  display: flex;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.suggestedSearch > li {
  background-color: orange;
  padding: 10px;
  margin: 0px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.products img {
  height: 260px;
  width: 260px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: black;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid #d10f17;
}
.logo {
  width: 250px;
  height: 100%;
}
.logoContainer {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
ul {
  height: 100%;
  color: white;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
.topBarMenu1 {
  padding: 20px;
  padding-top: 45px;
  padding-bottom: 45px;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.3em;
}

.mainPic > img {
  width: 100%;
  height: 591px;
}
.appetizersContainer {
  background-color: white;
  display: flex;
  font-family: "Open Sans Condensed", sans-serif;
  padding: 10px;
  border-top: 6px solid #d10f17;
}
.entreesContainer {
  background-color: white;
  display: flex;
  font-family: "Open Sans Condensed", sans-serif;
  padding: 10px;
  border-top: 6px solid #d10f17;
}
.dessertsContainer {
  background-color: white;
  display: flex;
  font-family: "Open Sans Condensed", sans-serif;
  padding: 10px;
  border-top: 6px solid #d10f17;
}
.menus {
  padding: 10px;
  width: 70%;
  text-align: center;
}
#text {
  font-family: "Open Sans Condensed", sans-serif;
}
h1 {
  font-size: 2.7em;
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  color: white;
}
#map {
  
  background-color: grey;
  margin-left: 40px;
}
.item > img {
  height: 480px;
  width: 480px;
  margin: 1px;
}
.banner {
  border-top: 3px solid red;
  border-bottom: 3px solid red;
  text-align: center;
  height: 230px;
  background-color: black;
  color: white;
}

.banner2 {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 0px;
}

#banner {
  font-size: 40px;
  font-family: "Open Sans Condensed", sans-serif;
  margin-bottom: -6px;
}

.banner:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 10px 0 10px;
  border-color: #f70411 transparent transparent transparent;
  margin-bottom: 15px;
  padding: none;
}
div img {
  width: 100%;
  height: 550px;
}

.abtUs {
  position: absolute;
  width: 300px;
  height: 490px;
  color: white;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-size: 18px;
  border: red solid 4px;
  background-color: black;
  margin-left: 100px;
  margin-top: 20px;
  padding: 20px 20px 0px 20px;
  opacity: 0.8;
}

h3 {
  margin: 0;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-size: 20px;
}
.text {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  color: red;
  margin: 0;
  font-size: 30px;
}

.rsvp {
  text-decoration: none;
  color: white;
  font-size: 12px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 5px;
}

.topBarMenu1:hover {
  color: red;
}

.rsvp:hover {
  color: red;
}

.ph {
  width: 100%;
  height: 450px;
  background-color: black;
}

.sigMeal {
  position: absolute;
  width: 310px;
  height: 546px;
  color: white;
  font-size: 14px;
  border: red solid 4px;
  background-color: black;
  margin-left: 610px;
  margin-top: 20px;
  padding: 20px 20px 10px 20px;
  opacity: 0.9;
  background-color: black;
}

p.sigMealP {
  font-size: 12px;
  text-align: center;
  padding: 10px;
}

.mealOfTheDay {
  width: 250px;
  height: 250px;
  margin-left: 8px;
  margin-top: 25px;
}

span {
  font-weight: bold;
  font-size: 20px;
}

#desc {
  font-size: 8px;
}

.blog {
  position: absolute;
  width: 300px;
  height: 546px;
  color: white;
  font-size: 13px;
  border: red solid 4px;
  background-color: black;
  margin-left: 1019px;
  margin-top: 20px;
  padding: 20px 20px 0px 20px;
  opacity: 0.8;
}

#wine {
  width: 100%;
  height: 590px;
}

.footer {
  display: grid;
  grid-template-columns: 550px 500px 700px;

  bottom: 0;
  padding-top: 20px;
  padding-bottom: 40px;

  font-size: 14px;
  line-height: 1.3;
  border-top: 6px solid #d10f17;
  background-color: #1a1a1a;
  color: white;
}

.footerContent {
  display: block;
}

h2 {
  color: #d10f17;
  font-family: verdana;
  align-self: center;
  margin-left: 40px;
}

ul {
  margin: 0;
  padding: 0;
  margin-left: 40px;
}

li {
  list-style: none;
  font-size: 16px;
}

.fab {
  font-size: 30px;
  color: red;
  /* margin-top: 20px; */
  margin-right: 22px;
  padding-top: 20px;
}

p {
  font-size: 14px;
}

/* h5 {
  align-items: center;
} */
